<template>
  <v-container>
    <v-flex class="text-xs-right">
      <div>
        <v-dialog v-model="dialog" persistent max-width="500">
          <v-btn slot="activator" color="primary" dark>Новая статья</v-btn>
          <v-card>
            <v-card-title class="headline">{{formTitle}} <v-spacer></v-spacer> <v-icon @click="dialog = false">close</v-icon></v-card-title>
            
            <v-card-text>
              <v-text-field
                  v-model="editedArticle.title"
                  label="Title"
                  required
              ></v-text-field>
              <v-text-field
                  v-model="editedArticle.photo_url"
                  label="Photo url"
                  required
              ></v-text-field>
              <v-textarea
              label="Контент"
              v-model="editedArticle.content"
              ></v-textarea>
            </v-card-text>
            <v-card-actions>
              <v-btn color="red darken-1" flat @click="clear">Clear</v-btn>
              <v-spacer></v-spacer>
              <v-btn color="green darken-1" flat @click="save">Save</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </div>
    </v-flex>
     
    <v-card>
      <v-card-title>
        <h1>
          Articles
        </h1>
        <v-spacer></v-spacer>
        <v-text-field
          v-model="search"
          append-icon="search"
          label="Search"
          single-line
          hide-details
        ></v-text-field>
      </v-card-title>
      <v-data-table
        :headers="headers"
        :items="articles"
        :search="search"
      >
        <template slot="items" slot-scope="props">
          <td class="text-xs-left">{{ props.item.id }}</td>
          <td class="text-xs-left"><router-link :to="'/article/'+props.item.id">{{ props.item.title }}</router-link></td>
          <td class="text-xs-left">{{ props.item.photo_url }}</td>
          <td class="text-xs-left">{{ props.item.content }}</td>
          <td class="justify-center layout px-0">
            <v-icon
              small
              class="mr-2"
              @click="openEditModal(props.item)"
            >
              edit
            </v-icon>
            <v-icon
              small
              @click="deletearticle(props.item)"
            >
              delete
            </v-icon>
          </td>
        </template>
        <v-alert slot="no-results" :value="true" color="error" icon="warning">
          Your search for "{{ search }}" found no results.
        </v-alert>
      </v-data-table>
    </v-card>
  </v-container>
</template>

<script>
  export default {
    data () {
      return {
        dialog: false,
        editedIndex: -1,
        editedArticle: {
          id: '',
          title: '',
          photo_url: '',
          content: ''
        },
        defaultItem: {
          id: '',
          title: '',
          photo_url: '',
          content: ''
        },
        search: '',
        headers: [
          {
            text: 'ID',
            align: 'left',
            sortable: true,
            value: 'id'
          },
          { text: 'Title', value: 'title' },
          { text: 'Url photo', value: 'photo_url' },
          { text: 'Content', value: 'content' },
          { text: 'Actions', value: 'name', align: 'center', sortable: false }
        ],
      }
    },
    created() {
      this.$store.dispatch('articles/initData');
    },
    computed: {
      formTitle () {
        return this.editedIndex === -1 ? 'Новая статья' : 'Редактирование статьи'
      },
      articles() {
        return this.$store.getters['articles/getData']
      }
    },
    methods: {
      save () {
        // Проверяем create это или edit
        if (this.editedIndex > -1) {
            this.editArticle()
        } else {
            this.createArticle()
        }
        this.close()
      },
      openEditModal(item) {
        this.editedIndex = this.articles.indexOf(item)
        this.editedArticle = Object.assign({}, item)
        this.dialog  = true
      },
      createArticle() {
        this.$store.dispatch('articles/add', this.editedArticle)
      },
      editArticle() {
        this.$store.dispatch('articles/update', this.editedArticle)
      },
      deletearticle(item) {
        this.$store.dispatch('articles/delete', item.id)
      },
      close () {
        this.dialog = false,
        this.editedArticle = {}
        setTimeout(() => {
          this.editedItem = Object.assign({}, this.defaultItem)
          this.editedIndex = -1
        }, 300)
      },
      clear () {
        this.editedArticle.name = ''
        this.editedArticle.code = ''
      }
    },
    watch: {
      dialog (val) {
        val || this.close()
      }
    }
  }
</script>

<style scoped>

</style>
