<template>
    <v-app id="app">
        <v-layout>
            <v-navigation-drawer
            v-model="drawer"
            absolute
            temporary
            >
            <v-list class="pa-1">
                <v-list-tile v-if="isAuth" avatar>
                    <v-list-tile-avatar>
                        <img src="https://scontent.fiev15-1.fna.fbcdn.net/v/t1.0-9/43542697_107299256920231_4187751280065642496_n.jpg?_nc_cat=101&_nc_ht=scontent.fiev15-1.fna&oh=5d7ee76c789f2f3418e9ad41533e5bb1&oe=5D076D06">
                    </v-list-tile-avatar>

                    <v-list-tile-content>
                        <v-list-tile-title>{{user.name}}</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
                <v-list-tile v-else>
                    <v-btn to="login" block color="primary">Login</v-btn>
                </v-list-tile>
            </v-list>

            <v-list class="pt-0" dense>
                <v-divider></v-divider>
                <v-list-tile
                v-for="item in items"
                :key="item.title"
                :to="item.link"
                >
                <v-list-tile-action>
                    <v-icon>{{ item.icon }}</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>{{ item.title }}</v-list-tile-title>
                </v-list-tile-content>
                </v-list-tile>
                <v-list-tile v-if="isAuth" to="admin">
                    <v-list-tile-action>
                        <v-icon>fingerprint</v-icon>
                    </v-list-tile-action>
                    <v-list-tile-content>
                        <v-list-tile-title>Admin</v-list-tile-title>
                    </v-list-tile-content>
                </v-list-tile>
            </v-list>
            </v-navigation-drawer>
        </v-layout>
        <v-toolbar dense>
            <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
            <v-toolbar-title>quickBlog</v-toolbar-title>
            <v-spacer></v-spacer>
        </v-toolbar>

        <router-view></router-view>
    </v-app>
</template>

<script>
export default {
 data() {
  return {
    drawer: null,
    isAuth: false,
    user: [],
    items: [
        { 
            title: 'Home', 
            icon: 'dashboard', 
            link: '/'
        },
        { 
            title: 'Articles', 
            icon: 'question_answer',
            link: 'articles'
        }
    ]
  }
 },
 created(){
    if(this.$store.state.users.token) {
        this.isAuth = true
        this.user = this.$store.state.users.user
    }
 },
 methods: {
    next () {
        const active = parseInt(this.active)
        this.active = (active < 2 ? active + 1 : 0)
    }
 }
}
</script>

<style scoped>

</style>
