<template>
    <v-app id="inspire">
        <v-content>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4>
                        <v-card class="elevation-12">
                            <v-toolbar dark color="primary">
                                <v-toolbar-title>Register</v-toolbar-title>
                                <v-spacer></v-spacer>
                            </v-toolbar>
                            <v-form @submit.prevent="submit">
                                <v-card-text>
                                    <v-text-field prepend-icon="chrome_reader_mode" v-model="user.name" name="email" label="Имя" type="text"></v-text-field>
                                    <v-text-field prepend-icon="person" v-model="user.email" name="email" label="Email" type="text"></v-text-field>
                                    <v-text-field prepend-icon="lock" v-model="user.password" name="password" label="Пароль" id="password" type="password"></v-text-field>
                                </v-card-text>
                                <v-card-actions>
                                    <v-spacer></v-spacer>
                                    <v-btn type="submit" color="primary">Зарегистрироваться</v-btn>
                                </v-card-actions>
                            </v-form>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
        </v-content>
    </v-app>
</template>

<script>
  export default {
    name: 'login',
    data() {
      return {
        user: {
          name: '',
          email: '',
          password: ''
        }
      }
    },
    methods: {
      submit() {
        this.$store.dispatch('users/register', this.user)
      }
    }
  }
</script>

<style>

</style>
