<template>
  <v-app>
    <div>
    <v-parallax
      dark
      src="https://infoplus.ua/images/i/askodachiveoriginal"
    >
      <v-layout
      align-center
      column
      justify-center
      style="text-shadow: 0 5px 15px rgba(0,0,0,1);"
      >
        <h1 class="display-2 font-weight-thin mb-3">Архив</h1>
        <h4 class="subheading">Здесь выведены все самые свежие записи</h4>
      </v-layout>
    </v-parallax>
    <v-dialog 
    v-model="dialog"
    width="800px">
      <template v-slot:activator="{ on }">
        <v-btn 
          absolute
          dark
          fab
          top
          right
          color="primary" v-on="on"><v-icon>add</v-icon>
        </v-btn>
      </template>

      <v-card>
        <v-card-title
          class="headline grey lighten-2"
          primary-title
        >
          Добавить статью
        </v-card-title>
        <v-card-text>
        <v-text-field
        v-model="newArticle.title"
        label="Заголовок"
        required
        ></v-text-field>
        <v-text-field
        v-model="newArticle.photo_url"
        label="URL картинки"
        ></v-text-field>
        <v-textarea
        label="Контент"
        v-model="newArticle.content"
        ></v-textarea>
        </v-card-text>
        <v-divider></v-divider>
        <v-card-actions>
          <v-spacer></v-spacer>
          <v-btn
            color="primary"
            flat
            @click="createArticle()"
          >
          Save
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
    </div>
    <v-container grid-list-md text-xs-center>
        <v-layout row wrap>
            <v-flex xs12 v-if="loader">
                <v-progress-circular
                :size="500"
                :width="20"
                color="primary"
                indeterminate
                ></v-progress-circular>
            </v-flex>
            <v-flex xs6 v-for="article in articles" :key="article.id">
                <v-card>
                    <v-img
                    class="white--text"
                    height="500px"
                    :src="article.photo_url"
                    >
                    <v-container fill-height fluid>
                        <v-layout fill-height>
                        <v-flex xs12 align-end flexbox>
                            <span class="headline">{{article.title}}</span>
                        </v-flex>
                        </v-layout>
                    </v-container>
                    </v-img>
                    <v-card-title>
                        {{article.content}}
                    </v-card-title>
                </v-card>
            </v-flex>
      </v-layout>
    </v-container>
 </v-app>
</template>

<script>
export default {
  data() {
   return {
       dialog: false,
       loader: true,
       newArticle: {
        title: '',
        photo_url: '',
        content: ''
       }
   }
  },
  created() {
    this.$store.dispatch('articles/initData');
  },
  computed: {
    articles() {
      this.loader = false
      return this.$store.getters['articles/getData']
    }
  },
  methods: {
    createArticle() {
      this.$store.dispatch('articles/add', this.newArticle)
      this.dialog = false
    }
  }
}
</script>
